<div [fxLayout]="row" class="" >
  <div fxFlex="100">
    <ul>
      <li *ngFor="let room of rooms">
        <div>{{ room.title }}</div>
        <div>
            <a [routerLink]="['/rooms', room.id]" (click)="roomSelect.emit(room.id)">
            {{ room.host }}
            </a>
        </div>
      </li>
    </ul>
  </div>
</div>